@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');
*{
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
    text-align: center;
}

@keyframes transparency {
    0%{opacity: 0;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes wheather {
    0%{height: 0%; background-color: #98877B;}
    100%{height: 100%; background-color: #CED1D6;}
}
@keyframes shadow {
    0%{box-shadow: none;}
    100%{box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);}
}

.header {
    display: flex;
    width: 100%;
    height: 50px;
}

#menu__toggle {
    opacity: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 10px;
    left: 10px;

    width: 26px;
    height: 26px;

    cursor: pointer;
    z-index: 1;
}

.menu__btn:hover {
    background-color: rgba(243, 209, 209, 0.781);
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
}

.menu__btn > span::before {
    content: '';
    top: -8px;
}

.menu__btn > span::after {
    content: '';
    top: 8px;
}

.navbar {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;

    width: 300px;
    height: 100%;

    padding: 80px 0;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

.menu__item {
    display: block;
    padding: 12px 24px;
    text-align: start;

    color: #333;

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;

    text-decoration: none;
}

.menu__item:hover {
    background-color: #CFD8DC;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .navbar {
    transition: all .8s ease-out;
    visibility: visible;
    left: 0;
}

#menu__toggle:not(checked) ~ .navbar {
    transition: all .8s ease-in;
    visibility: hidden;
    left: -100%;
}

.weather-mogilev, .form1 {
    width: 200px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border-radius: 20px;
    border: 2px;
    background-color: #CED1D6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    animation-name: wheather;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.block-weather {
    height: 320px;
    font-family: 'Castoro', serif;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.city-name {
    width: auto;
    font-size: 2rem;
    text-align: center;
    color: white;
}

.temperature, .city-name, .icon, .wind {
    max-height: 60px;
    padding: 5px;
    display: block;

    animation-name: transparency;
    animation-duration: 2s;
}

.weather-mogilev a, #btn {
    margin-top: 20px;
    padding: 10px 10px;/* отступы от текста до краев */
    border-radius: 20px;
	text-decoration: none;/* убираем декорирование */
    color: white;
    background-color: #848C9B;
    animation-name: transparency;
    animation-duration: 2s;
}

body {
    background-color: #98877B;
}

.weather-mogilev a:hover, #btn:hover {
    cursor: pointer;
    background-color: #92b0e9;
}

.form1 {
    max-height: min-content;
    min-width: min-content;
}

#search {
    padding: 5px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: start;
    background-color: transparent;
    
    animation-name: transparency;
    animation-duration: 2s;
}

#search::placeholder {
    color:black;
}

#search:focus {
    background-color: #92b0e9;
}

.showforecast {
    overflow: hidden;
    width: 390px;
    margin: 0 auto;
}

.weatherDaily {
    width: 130px;
    text-decoration: none;/* убираем декорирование */
    list-style-type: none;
    height: 220px; 
    transition: .2s;
    background-color: #92b0e9;
}

.weatherDaily h3 {
    margin: 10px;
}

.il {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: inherit;

    animation-name: transparency;
    animation-duration: 1s;

    transition: .2s;
}
.btn_next, .btn_prev {
    margin-top: 5px;
    padding: 10px 10px;/* отступы от текста до краев */
    border-radius: 20px;
	text-decoration: none;/* убираем декорирование */
    color: white;
    background-color: #848C9B;
    height: max-content;

    animation-name: transparency;
    animation-duration: 1s;
}
.btn_next:hover, .btn_prev:hover {
    cursor: pointer;
    background-color: #92b0e9;
}
.btn_next:disabled, .btn_prev:disabled {
    cursor: pointer;
    background-color: #dae7fd;
}  
.slider-container{
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);

    animation-name: shadow;
    animation-duration: 1s;
}
.search-err {
    border-color: red;
}

@media screen and (max-width: 600px) {
    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(0);
    }
    
    #menu__toggle:checked ~ .menu__btn > span::before {
        top: -8px;
        transform: rotate(0);
    }

    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 8px;
        transform: rotate(0);
    }

    #menu__toggle:not(:checked) ~ .navbar {
        transition: all .8s ease-out;
        visibility: visible;
        left: 0;
    }

    #menu__toggle:not(:checked) ~ .menu__btn > span {
        transform: rotate(45deg);
    }

    #menu__toggle:not(:checked) ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu__toggle:not(:checked) ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked ~ .navbar {
        transition: all .8s ease-in;
        visibility: hidden;
        left: -100%;
    }

    body {background: linear-gradient(90deg, rgb(106, 106, 243),red, rgb(255, 136, 249));}

}

#map {
    display: flex;
    width: 700px;
    height: 500px;
    margin: 10px auto;
}

.searchMap {
    display: flex;
    align-items: flex-start;
}

.searchMap #btn {
    margin: 15px 0px 0px 5px
}