@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');
*{
    font-size: 1.1rem;
    text-align: center;
}
.weather-mogilev, .form1 {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    border-radius: 20px;
    border: 2px;
    background-color: #CED1D6;

    animation-name: wheather;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
.block-weather {
    height: 309px;
    font-family: 'Castoro', serif;
    display: flex;
    align-content: center;
    justify-content: space-around;
}
.city-name {
    width: auto;
    font-size: 2rem;
    text-align: center;
    color: white;
}

.temperature, .city-name, .icon, .wind {
    max-height: 60px;
    padding: 5px;
    display: block;

    animation-name: transparency;
    animation-duration: 2s;
}
.weather-mogilev a, #btn {
    margin-top: 20px;
    padding: 10px 10px;/* отступы от текста до краев */
    border-radius: 20px;
	text-decoration: none;/* убираем декорирование */
    color: white;
    background-color: #848C9B;

    animation-name: transparency;
    animation-duration: 2s;
}
@keyframes transparency {
    0%{opacity: 0;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes wheather {
    0%{height: 0%; background-color: #98877B;}
    100%{height: 100%; background-color: #CED1D6;}
}

body {
    background-color: #98877B;
}

.weather-mogilev a:hover, #btn:hover {
    background-color: #92b0e9;
}

.form1 {
    min-width: min-content;
}
#search {
    border-radius: 10px;
    text-align: start;
    background-color: transparent;
}
#search::placeholder {
    color:black;
}
#search:focus {
    background-color: #92b0e9;
}
.showforacast{
    width: 500px;
    display: flex;
    flex-direction: row;
}
.weatherDaily {
    width: min-content;
    height: min-content;
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: #92b0e9;

    animation-name: transparency;
    animation-duration: 1s;
}